.header {
  background-color: white;
  min-height: 720px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0 0 0 50px;
  font-family: Inter, Arial, sans-serif;
  z-index: 1;
}
.header__span-accent {
  display: block;
  font-family: Noto serif, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: Noto serif, "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 50px;
  max-width: 675px;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  bottom: 40px;
  width: 95%;
}

.header__hours {
  padding: 0 80px 0 0;
  margin: 0;
}

.header__image {
  max-width: 636px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  bottom: 40px;
  color: #838383;
  margin: 0 0 0 50px;
  z-index: 1;
}
