.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__title {
  margin: auto;
  max-width: 780px;
  padding-top: 100px;
  font-family: Noto serif, "Times New Roman", Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  text-align: center;
}

.menu__substitle {
  margin: auto;
  text-align: center;
  max-width: 780px;
  padding-top: 24px;
  font-family: Noto serif, Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.menu__cards {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
