.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}

.logo {
  margin-bottom: 80px;
}

.nav__link {
  color: black;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
}
